.web-links-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-item {
    color: blue;

    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}


