@import '../../../scss/variables';

$label-width: 200px;
$value-width: 300px;

.main-area {
  position: relative;
  hr{
    height: 2px;
  }
  .concatenation-tool-group {
    display: flex;

    .concatenation-tool-label {
      width: $label-width;
      &.input-description {
        line-height: 1;
        padding-left: 0px;
        width: 100%;
        margin-bottom: 0.5rem;
        font-size: 90%;
      }
      &.tool-output-label{
        font-weight: 700;
      }
    }

    .concatenation-tool-val {
      width: $value-width;
    }
  }

  .steps-info, tasks-info {
    width: 100%;
  }

}
