$btn-width: 340px;
$grid-col-count: 1;
$grid-row-gap: 15px;

.code-base-btn {
    width: $btn-width;
}

.code-base-grid {
    display: flex;
    flex-wrap: wrap;
}

.code-base-btn-container {
    text-align: center;
    width: calc(100% / #{$grid-col-count});
    margin: $grid-row-gap 0;
}
