<div class='code-base-area'>
    <app-section-heading [title]="'Code base'"></app-section-heading>
    <div class='card section-body bg-light'>
      <div class='code-base-grid'>
        <!-- <div class='code-base-btn-container'>
          <button class='code-base-btn btn btn-info' (click)='updateRepos()' disabled>Git Pull</button>
        </div> -->
        <div class='code-base-btn-container'>
          <button class='code-base-btn btn btn-info' (click)='updateWebConfig()'>Auto Configure Web.config</button>
        </div>
      </div>
    </div>
</div>